@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Override Prism.js theme colors to match our theme */
.token.tag {
  color: #e06c75;
}
.token.attr-name {
  color: #d19a66;
}
.token.attr-value {
  color: #98c379;
}
.token.string {
  color: #98c379;
}
.token.punctuation {
  color: #abb2bf;
}
